<div class="lang-switcher">
    <div (click)="open()"
        *ngIf="Current">
        <span class="lang-switcher__lang">
            <div class="country-flag-wrapper" [ngClass]="Current.Flag">
            </div>
            <span class="lang-switcher__lang-name">{{ Current.Title }}</span>
        </span>
    </div>
    <div class="lang-switcher__popup" *ngIf="IsOpen">
        <div class="list-item" *ngFor="let item of Languages"
            (click)="languageSelected(item)">
            <div class="country-flag-wrapper" [ngClass]="item.Flag">
            </div>
            <span class="lang-switcher__lang-name lang-switcher__popup-text">
                {{ item.Title }}
            </span>
        </div>
    </div>
</div>