/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.hi {
    border: solid 4px red;
}

.hi-green {
    border: solid 4px green;
}

.hi-blue {
    border: solid 4px blue;
}

.hi-golden {
    border: solid 4px goldenrod;
}

.hi-yellow {
    border: solid 4px yellow;
}

.hi-black {
    border: solid 4px black;
}